@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif, "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* button {
  background: #f86d72;
  color: white;
  border-radius: 28px 5px;
  padding: 11px 25px;
  width: 100px;
  transition: 0.3s all;
} */

/* button:hover {
  background: #ff5d62;
} */


/* menu Admin panel */
button.menu{
    background:none;
    color: black;
}

h3 {
  all:unset;
  font-size: 28px;
  padding: 6px;
  position: relative;
  font-weight: bold;
  display: inline-block;
}

h3::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 130px;
  height: 3px;
  background-color: #ff5d62;
  border-radius: 2px;
}


 